body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
}

$brand-color: #6A5D78;
$screen-color: #d1d4c9;
$input-height: 34px;
$border-radius: 5px;
$border-color: #999;
$background-image: url("stone5.png");
$screen-image: url("grid.png");

// div:hover {
//     border: red dotted 5px;
// }

#the-view {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background-image: url("green-wall-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#the-dex {
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding-top: 7em;
}

//Avatar-Screen + Header
#avatar-frame {
    width: 24em;
    height: 24em;
    background-image: $background-image;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #avatar-screen {
        width: 22em;
        height: 22em;
        background-image: $screen-image;
    }
}

#poke-name-frame {
    width: 24em;
    height: 4em;
    background-image: $background-image;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    #poke-name-screen {
        width: 23em;
        height: 3em;
        // background-color: $screen-color;
        background-image: $screen-image;
        background-position: center; 
    }

    #poke-name {
        line-height: .4em;
        text-align: center;
    }
}

#toggler {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .7em;

    .toggle-frame {
        width: 3em;
        height: 2.5em;
        background-image: $background-image;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;

        .toggle-arrow {
            text-align: center;
            color: $screen-color;
            cursor: pointer;
            margin: 0em 0em .25em 0em;
            font-size: 250%;
        }
    }
}

//Search-Bar & Stats

#search-bar {
    width: 340px;
    background-image: $background-image;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    // padding-right: 5em;
}

.search-form {
    padding-left: 7px;
    color: black;

    .search-input {
    display: inline-block;
    float: left;
    height: $input-height;
    width: 285px;
    border: 0;
    font-size: 16px;
    z-index: 2;
    border-radius: 0;
    padding-left: 2px;
    background-image: $screen-image;
    font-family: 'Press Start 2P', cursive;
    }
    
    .button {
    height: $input-height;
    display: inline-block;
    float: left;
    top: 0;
    padding: 0 10px;
    color: #fff;
    border: 1px solid transparent;
    background-image: $background-image;
    text-align: center;
    cursor: pointer;
      
      &:hover {
        background-color: darken($brand-color, 10%);
        }
    }
}

//STAT-PANE
#stats-pane-frame {
    margin-top: 1em;
    width: 31em;
    // height: 19.85em;
    height: 17.9em;
    background-image: $background-image;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: $border-radius;

    .stat-header{
        margin: 0em;
        color: $screen-color;
        // -webkit-text-stroke: black .1px;
    }

    #ability-screen-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
    
        .ability-screen {
            height: $input-height;
            // background-color: $screen-color;
            background-image: $screen-image;
            width: 14em;
            line-height: .4em;
            text-align: center;
            // margin-top: 1em;
        }
    }

    #stat-bar-screen {
        width: 28.7em;
        height: 9em;
        background-image: $screen-image;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .stat-bar {
            padding-left: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 0;

            .stat-name {
                margin: 0em;
                width: 3.5em;
                text-align: center;
            }

            .full-bar{
                background-color: black;
                height: 5px;
                width: 21em;
                display: flex;
                flex-direction: row;
                justify-content: end;

                .animating-bar{
                    background-color: #d11c9b;
                    height: 5px;
                    width: 100%;
                    // animation: fill-zoom 2s forwards;
                }

                .bar-fill{
                    background-color: black;
                    height: 5px;
                    width: 10em;
                }

                .filling {
                    animation: fill-zoom 1.5s forwards;
                }
            }
        }
    }   
}

//EXTRAS + ANIMATIONS

@keyframes fill-zoom {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

iframe {
    display: none;
}

audio {
    display: none;
}