body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;

}

$brand-color: #6A5D78;
$screen-color: #d1d4c9;
$input-height: 34px;
$border-radius: 5px;
$border-color: #999;
$background-image: url("stone2.png");

// div:hover {
//     border: red dotted 5px;
// }

#the-view {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background-image: url("green-wall-crop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#the-dex {
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding-top: 11em;
}

//Avatar-Screen + Header
#avatar-frame {
    width: 24em;
    height: 24em;
    background-image: $background-image;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #avatar-screen {
        width: 22em;
        height: 22em;
        background-image: url("grid.png");
    }
}

#poke-name-frame {
    width: 24em;
    height: 4em;
    background-image: $background-image;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    #poke-name-screen {
        width: 23em;
        height: 3em;
        background-color: $screen-color;
    }

    #poke-name {
        line-height: .4em;
        text-align: center;
    }
}

//Search-Bar & Stats

#search-bar {
    width: 330px;
    background-image: $background-image;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    // padding-right: 5em;
}

.expanding-search-form {
    padding-left: 5px;

    .search-input {
    display: inline-block;
    float: left;
    height: $input-height;
    width: 280px;
    border: 0;
    font-size: 16px;
    z-index: 2;
    border-radius: 0;
    padding-left: 2px;
    background-color: $screen-color;
    font-family: 'Press Start 2P', cursive;
    }
    
    .button {
    height: $input-height;
    display: inline-block;
    float: left;
    top: 0;
    padding: 0 10px;
    color: #fff;
    border: 1px solid transparent;
    background-image: $background-image;
    text-align: center;
    cursor: pointer;
      
      &:hover {
        background-color: darken($brand-color, 10%);
        }
    }
}

//STAT-PANE
#stats-pane-frame {
    margin-top: 1em;
    width: 30em;
    height: 19.85em;
    background-image: $background-image;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: $border-radius;

    .stat-header{
        margin: 0em;
        color: $screen-color;
        // -webkit-text-stroke: black .1px;
    }

    #ability-screen-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
    
        .ability-screen {
            height: $input-height;
            background-color: $screen-color;
            width: 13em;
            line-height: .4em;
            text-align: center;
            // margin-top: 1em;
        }
    }

    #stat-bar-screen {
        width: 27.25em;
        height: 9em;
        background-color: $screen-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .stat-bar {
            padding-left: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 0;

            .stat-name {
                margin: 0em;
                width: 3.5em;
                text-align: center;
            }

            .full-bar{
                background-color: black;
                height: 5px;
                width: 20em;

                .bar-fill{
                    background-color: green;
                    height: 5px;
                    width: 10em;
                }
            }
        }
    }   
}